* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}
.title{
  text-align: center;
}
main {
  background-image: linear-gradient(109.6deg,
      rgba(62, 161, 219, 1) 11.2%,
      rgba(93, 52, 236, 1) 100.2%);
  width: 40vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tomaCorriente {
  width: 5vw;
  height: 15vh;
  border-radius: 25px;
  background-color: #b9beb6;
  padding: 25px;
  font-weight: bold;
  text-align: center;
  list-style: none;
  background: url(imagenes/bombilloOff.PNG)center/cover no-repeat;
}

.off {
  padding: 5px;
  box-shadow: 2px 4px 4px 20px rgba(71, 71, 71, 0.16);
  width: 80px;
  margin: 15%;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  background: url(imagenes/off.PNG)center/cover no-repeat;
}

.on {
  padding: 5px;
  box-shadow: 2px 4px 4px 20px rgba(71, 71, 71, 0.16);
  width: 80px;
  margin: 15%;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  background: url(imagenes/on.PNG)center/cover no-repeat;
}

.bombilloApagado {
  width: 60px;
  height: 100px;
  background: url(imagenes/bombilloOn.PNG)center/cover no-repeat;
  box-shadow: 2px 4px 4px 20px rgba(71, 71, 71, 0.16);
}

.bombilloEncendido {
  width: 60px;
  height: 100px;
  background: url(imagenes/bombilloOff.PNG)center/cover no-repeat;
  box-shadow: 2px 4px 4px 20px rgba(71, 71, 71, 0.16);
}

@media(max-width:768px){
header{
  margin: initial;
}
  main{
  width: auto;
}
.tomaCorriente{
width: 10vw;
}
}